
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #root {
    height: 100%;
  }
 
  body {
    height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
 
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
 :root {
    /* colors */
    --clr-pink: #A729F5;
    --clr-navdrk: #313E51;
    --clr-nav: #3B4D66;
    --clr-light: #ABC1E1;
    --clr-lightwht: #F4F6FA;
    --clr-white:#FFF;
    --clr-green:#26D782;
    --clr-red:#EE5454;
    --clr-openpink:#c380ec; 

    /* font-family */
    --ff-rubik:"Rubik", sans-serif;
    --ff-raleway:'Raleway', sans-serif;
    --ff-plus:'Plus Jakarta Sans', sans-serif;
    --ff-barlow:'Barlow Condensed', sans-serif;
}

.system-main {
    display: flex;
    flex-direction: column;
    margin-block: 40px;
    gap: 39px;
}

.btn {

    width: 300px;
    font-family: var(--ff-rubik);
    font-size: 22px;
   background-color: var(--clr-pink);
   line-height: 100%;
   color: var(--clr-white);
   padding: 32px;
   border: none;
   border-radius: 24px;
   text-decoration: none;
    
   &:hover{
    background-color: #c380ec;
   }
}

/* ----------buttonns-------- */

.seletions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-family: var(--ff-rubik);
    
    & .allbutton {
        width: 500px;
        display: flex;
        gap: 30px;
        align-items: center;
        font-size: 16px;
        border-radius: 12px;
        padding: 20px 18px;
        background-color: var(--clr-white);
        border: 3px solid transparent;
        transition: 100ms all;
        display: flex;
        justify-content: space-between;

        & div {
            display: flex;
            align-items: center;
            gap: 25px;
        }
    }

    & .allbutton img {
        padding-left: 52px;
    }
        
    & span {
        background-color: var(--clr-light);
        height: 50px;
        width: 50px;
        border-radius: 12px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    & button span:hover {
        background-color:hsla(278, 100%, 95%, 1);
        color: var(--clr-pink);
    }

    & button:active {
        border-color: var(--clr-pink);
    
        & span {
            background-color: var(--clr-pink);
            color: var(--clr-lightwht);
        }
    }

    & button img {
        display: none;
    }
}

/* ------------True-Btn------------ */

.seletions > .active,
.seletions > [aria-selected="true"] {
    border-color: var(--clr-green);

    & img {
        display: block;
    }

    & span {
        background-color: var(--clr-green);
        color: var(--clr-lightwht);
        border: 3px solid var(--clr-green);
    }
}

.seletions > [aria-selected="true"]:hover {
    & span {
        background-color: var(--clr-green);
        color: var(--clr-lightwht);
        
    }
}

/* ------False-Btn------------------ */

.seletions > .active,
.seletions > [aria-selected="false"] {
    border-color: var(--clr-red);
    & img {
        display: block;
    }

    & span {
        background-color: var(--clr-red);
        color: var(--clr-lightwht);
        border: 3px solid var(--clr-red);
    }
}

.seletions > [aria-selected="false"]:hover {
    & span {
        background-color: var(--clr-red);
        color: var(--clr-lightwht);
    }
}

/*--------- ant desing----------- */

.ant-switch-inner {
    background-color: var(--clr-pink);
}

 .night {
    display: flex;
    width: 80%;
    justify-content: end;
    padding-block: 74px;
    margin: auto;
 }

.dark {
    display: flex;
    width: 80%;
    justify-content: end;
    padding-block: 74px;
    margin: auto;
}

.sections-btn {
    display: flex;
    justify-content: space-around;
}

.menü-container {
    padding-inline: 12px;
    /* background-image: url(/src/img/darkbackimg.svg);
    background-color: var(--clr-lightwht); 
    height: 100vh; */
}

.sections-btn {
     
    & h2 {
        font-family: var(--ff-raleway);
        font-size: 64px;
        font-weight: 300;
        font-style: normal;
        line-height: 100%;
    }

    & h1 {
        font-family: var(--ff-rubik);
        font-size: 64px;
    }

    & p {
        margin-block: 30px;
        /* color: var(--clr-nav); */
        font-family: var(--ff-rubik);
        font-style: italic;
    }
}

.selected-container {
   
    gap: 8px;
    display: flex;
    flex-direction: column;
    font-family: var(--ff-rubik);
    font-size: 22px;
    margin-bottom: 41px;

    & button {
        width: 481px;
        gap: 32px;
        border: none;
        display: flex;
        justify-content: center;
        background-color: var(--clr-lightwht);
        align-items: center;
        border: 1px solid white;
        justify-content: flex-start;
        padding: 18px 20px;
        border-radius: 12px;
    }

    & span {
        
        text-align: center;
        padding: 12px;
        border-radius: 12px;
    }
}

.html-btn {
    background-color: hsla(22, 100%, 96%, 1);
}

.css-btn {
    background-color: hsla(151, 87%, 94%, 1);
}

.js-btn {
    background-color: hsla(223, 100%, 96%, 1);
}

.acces-btn {
    background-color: hsla(277, 100%, 95%, 1);
}


@media (width < 769px) {
    body {
        height: 100% !important;
    }
    .sections-btn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.container {
    background-image: url(/src/img/darkbackimg.svg); 
    height: 100%;
    background-color: var(--clr-lightwht);
}

.selected-container {
    & button {
        border: none;
    }
}

.slc-btn {
    background-color: #F4F6FA;
}

.dark-night {
    display: flex;
    align-items: center;
}

.Accesibility {
     
    & h1  {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 24px;
        font-family: var(--ff-rubik);
    }
    

    & img {
        background: #F6E7FF;
        padding: 3px;
        border-radius: 9px;
    }
}

.quiz-question {
    width: 470px;
}

.quiz-css {
    & h1  {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 24px;
        font-family: var(--ff-rubik);
    }
    

    & img {
        background-color: hsla(151, 87%, 94%, 1);
        padding: 3px;
        border-radius: 9px;
    }
}

.quiz-js {
    & h1  {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 24px;
        font-family: var(--ff-rubik);
    }
    

    & img {
        background-color: hsla(223, 100%, 96%, 1);
        padding: 3px;
        border-radius: 9px;
    }
}

.quiz-html {
    font-family: var(--ff-rubik);
    & h1  {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 24px;
        font-family: var(--ff-rubik);
    }
    

    & img {
        background-color: hsla(22, 100%, 96%, 1);
        padding: 3px;
        border-radius: 9px;
    }
}

.quiz-score {
    text-align: center;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    width: 500px;
    margin: auto;
    gap: 30px;
    margin-bottom: 20px;
    border-radius: 12px;
    color: var(--clr-navdrk);
    
    & .quiz-html {
        display: flex;
        gap: 8px;
        margin-block: 25px;
    }

    & .quiz-html img {
        background-color: hsla(22, 100%, 96%, 1);
        padding: 3px;
        border-radius: 9px;
    }

    & p {
        padding-bottom: 20px;
        font-family: var(--ff-rubik);
        font-size: 15px;
    }

    & h1 {
        font-size: 144px;
        font-family: var(--ff-rubik);
        color: var(--clr-navdrk);
    }
}

.quiz-title {
    text-align: start;
    width: 100%;
    padding-inline: 30px;
}

.quiz-clp{
        
    font-family: var(--ff-raleway);
    font-size: 64px;
    font-weight: 300;
    font-style: normal;
    line-height: 100%;
}

.quiz-finish {
    font-size: 64px;
    line-height: 100%;
    font-weight: 300;
    font-family: var(--ff-rubik);
}

.btn-try {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 35px;
    text-decoration: none;
    margin-bottom: 10px;
 
}

@media (width < 631px) {
    
   .btn-try {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
   }
}


/* ------------Login---------------- */


.login-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    margin: auto;
    gap: 10px;

    & h2 {
        text-align: center;
        padding: 12px;
        font-family: var(--ff-raleway);
        font-size: 45px;
        font-weight: 300;
        font-style: normal;
        line-height: 100%;
        color: var(--clr-pink);
    }

    & input {
        border-radius: 12px;
        padding: 12px;
        border: 2px solid var(--clr-pink);
    }
    
    & input:hover {
        border: 2px solid var(--clr-pink);
    }

    & input:focus  {
        outline: 2px solid var(--clr-openpink);
    }

    & button {
       font-size: 18px; 
       padding: 25px;
       transition: 10ms all;
    }
}

.dark-login {
    text-align: end;
    padding: 24px;
}



/* ---------------Signup------------------ */


.btn-sign {
    width: 500px;
    font-family: var(--ff-rubik);
    font-size: 22px;
   background-color: var(--clr-pink);
   line-height: 100%;
   color: var(--clr-white);
   padding: 32px;
   border: none;
   border-radius: 24px;
   text-decoration: none;
   opacity: 1; 
   background: linear-gradient(193deg, var(--clr-pink), transparent);
   transition: 10ms all;
   cursor: pointer;

}

.btn-sign:hover{
    background: linear-gradient(175deg, var(--clr-pink), transparent);
    /* transform: translate(93px, 0px); */
}



.system {

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}


/* -----------media------------- */


@media (width < 529px) {
   
    .menü-container {
        height: 100%;
    }

    .night {
        width: 100%;

    }

    .dark {
        width: 100%;
    }

    .quiz-question {
        width: 100%;
    }

    .seletions {
        width: 100%;
        padding-inline: 12px;

       & .allbutton {
        width: 100%;
       }

       & .btn {
        width: 100%;
       }
    }
}

@media (width < 769px) {

    .container {
        width: 100%;
        /* height: 100%; */
    }

    .sections-btn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (width < 522px) {
    .quiz {
        width: 100%;

    & h2 {
        font-size: 18px;
        align-items: center;
    }

     & h1 {
        font-size: 80px;
     }
    }

    .quiz-finish {
        font-size: 40px;
    }

    .quiz-clp {
        font-size: 40px;
    }
    
    .btn-try {

        & .btn {
            width: 100%;
            
        }
    }
    .quiz-html {
        & h1 {
            font-size: 18px;
        }
    }

    .Accesibility {
        font-size: 14px;
    }

    
}

@media (width < 487px) {

    .menü-container {
        

        & .night {
            width: 100%;
        }

        & .dark {
            width: 100%;
        }
    }

  

    .login-form {
        padding-inline: 12px;
        width: 100%;

         & button {
            width: 100%;
        }
    }
        .selected-container {
            width: 100%;
            gap: 10px;

            & button {
                width: 100%;
            }
        }
}